{% extends 'base.html' %}


{% block title %}{{ recipe.title }}{% endblock title %}
{%block content%}
        <header>
            <nav class = "menu">
                <a href="{% url 'recipe_list' %}">Home</a>
            </nav>
        </header>
        <main>
            <form method = "post">
                {% csrf_token %}
                {{ form.as_p}}
                <button> Create </button>
            </form>
        </main>
{%endblock content%}
