{% extends 'base.html' %}

{% block title%}{{ recipe.title }}{% endblock title%}

{% block content%}
        <main>
            <header>
                <nav class = "menu">
                    <a class = "white_on_orange" href="{% url 'recipe_list' %}">Main Page</a>
                </nav>
            </header>

            <h1>{{ recipe.title }}</h1>
            <img src="{{ recipe.picture }}">
            <div> 4.3 stars </div>
            <p>{{ recipe.description }}</p>
            <p>{{recipe.created_on|date:"F d Y"}}</p>
            <h2>Ingredients</h2>
            <table>
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Food Item</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ingredient in recipe.ingredients.all %}
                    <tr>
                        <td> {{ingredient.amount}}</td>
                        <td> {{ingredient.food_item}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h2>Steps</h2>
            <ol>
                {% for step in recipe.steps.all %}
                    <li>{{step.instruction}}</li>
                {% endfor %}
            </ol>
            <div> <a href="{% url 'edit_recipe' recipe.id %}">Edit Recipe</a> </div>
        </main>
{% endblock content%}
