{% extends 'base.html' %}


{% block title%} {{ recipe.title }} {%endblock title%}

    {% block content%}
        <header>
            <nav class = "menu">
                <a href="{% url 'recipe_list' %}">Home</a>
            </nav>
        </header>
        <main>
            <h1> Edit {{recipe.title}} </h1>
            <form method = "post">
                {% csrf_token %}
                {{ form.as_p}}
                <button> Save Edit </button>
            </form>
        </main>
    {% endblock content%}
