{% extends 'base.html' %}

{% block title%} Scrumptious Recipes {%endblock title%}

{% block content%}
    <body>
        <header>
            <nav class = "menu">
                {% if user.is_authenticated %}
                    Hello, {{user.username}}
                    <a href="{% url 'create_recipe' %}">Create Recipe</a>
                    <a href ="{% url 'user_logout' %}">Logout</a>
                    <a href ="{% url 'my_recipe_list' %}">My Recipes</a>
                {% else %}
                    <a href = "{% url 'signup' %}">Sign up</a>
                    <a href = "{% url 'user_login' %}">Login</a>
                {% endif %}
            </nav>
        </header>
        <main>
            <h1> Scrumptious Recipes</h1>
            <h2> All the food that's fit to eat</h2>
            <div class ="container">
                {% for recipe in recipe_list %}
                <div>
                    <div>

                        <h3> <a href="{% url 'show_recipe' recipe.id %}">{{recipe.title}}</a></h3>
                        <img src ="{{recipe.picture}}"
                        alt ="Tacos on a plate">
                    </div>
                    <div> {{recipe.created_on|date:"F j Y"}}</div>
                    <div class = "rating_bold"> 4.3 stars </div>
                </div>
                {% endfor %}
            </div>
        </main>
  {%endblock content%}