@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Jost:wght@100&family=Roboto:ital,wght@0,400;1,300&display=swap');

*{
border:border-box;
}


body {
    max-height: fit-content;
    margin: 0px;
    padding: 0px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.rating_bold {
    font-weight: bold;
    text-align: justify;
}

header {
    font-family: 'Times New Roman', Times, serif;
}

nav{
    padding: 10px;
    background: #FF5a34;
    border: 2px dashed rgba(20,97,82,.12);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


a {
  color: green;
  text-decoration: none
}

a:hover {
    color:black;
    text-decoration: underline;
}

.menu a{
    color: rgb(255,255,255);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
}

.menu a:hover{
    color: black
}

.menu a.active{
    color: black
}

h1 {
    padding: 0px;
    margin:0px;
    border:0px;
    font-size: 40px;
    font-family:'Lucida Sans', Arial, sans-serif;
    color: #007200;
    background-color: rgba(0,114,0,.12);
}
main {
    padding: 10px;
  }



img {
    height: 300px;
    width: 300px;
}


footer {
    position: static;
    left: 0;
    bottom:0;
    padding: 10px;
    width: 100%;
    font-family: 'Comforter Brush', cursive;
    font-size: 20px;
    background-color: rgba(0,114,0,.3) ;

}

tbody > tr:nth-child(even){
    background: rgba(229,229,229,100)
}
